<!DOCTYPE html>
<html>
    <head>
        <meta charset="uts-8">
        <title>Some Page</title>
    </head>
    <body>
        {{>header}}

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum vero error hic perferendis dolorum fugiat consequuntur voluptas sapiente quae aut et nulla omnis, iure praesentium perspiciatis veritatis expedita esse nam?</p>


        {{> footer}}
    </body>
</html>