<!DOCTYPE html>
<html>
    <head>
        <meta charset="uts-8">
        <title>Some Page</title>
    </head>
    <body>
        {{> header}}
        <p>Heloo there welcome {{screamIt personName}}</p>

        {{> footer}}
    </body>
</html>